@import '../assets/common.scss';

.completed{
    text-decoration: line-through;
    font-weight:600;
}
.checkicon{
  &:before{
    content:url('../assets/check-icon.png');
    position:absolute;
  }
}

.todoWrapper {
    position:relative;
    border-bottom: 1px solid $grey-light;
    text-align: left;
    padding-bottom: $bg-spacing;
    margin-top: 20px;
    clear: both;
    .removeTodo {
      position:absolute;
      right:0;
      margin-bottom: 10px;
      outline: none;
      box-shadow: none;
      border-radius: 3px;
      border-style: solid;
      padding: 4px;
      color: $red-danger;
      border-color: $red-danger;
      background-color: transparent;
      cursor:pointer;
    }
    .task{
      position: relative;
      display:inline-block;
      font-size:18px;
      max-width:240px;
      min-width: 250px;
      top: 4px;
      color:$grey;
      line-height: 21px;
      margin-left:$bg-spacing;
    }
  
  }

  @media only screen and (min-width: $mobile) {
    .todoWrapper{
        span{
          min-width: 380px;
        }
    }
  }