// Colors
$blue: #003970;
$blue-light:#105AA3;
$blue-lighter:#4BA7EE;
$blue-hightlight:#326C96;
$grey:#82829c;;
$grey-light:#e6e6e6;
$white:#fff;
$red:#E82E34;
$red-danger:#fb6f70;

//Fonts

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700); 
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

$roboto-slab: 'Roboto Slab', sans-serif;   
$roboto: 'Roboto', sans-serif; 


// MediaQueries Breakpoints
$mobile: 767px;
$tablet: 1023px;
$small-desktop:  1024px;
$medium-desktop: 1264px; 

//spacing
$sm-spacing:4px;
$lg-spacing:16px;
$bg-spacing:32px;


::-webkit-input-placeholder {
    opacity: 0.4 !important;
}