@import './assets/common.scss';
body {
    font-family: $roboto;
    padding: 40px 20px;
    background: $blue-lighter;
}

.todo-app {
    display: block;
    margin: auto;
    width: 100%;
    min-width: 280px;
    max-width: 100%;
    font-size: 14px;
    background-color: #fefeff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0 15px 150px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 15px 150px rgba(0, 0, 0, 0.15);
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.15);
    .todo-content {
        position: relative;
        padding: 20px;
        .date {
            display: inline-block;
            padding-bottom: $bg-spacing;
            color: $grey;
            font-size: 20px;
            opacity: 0.6;
        }
        .counter {
            position: absolute;
            color: $grey;
            font-size: 14px;
            opacity: 0.6;
            right: 16px;
            &.unfinished-task {
                top: 60px;
            }
            &.finished-task {
                right: 16px;
                top: 90px;
            }
        }
        .todo-filters {
            padding: $sm-spacing 0;
            .text {
                padding-right: $lg-spacing;
            }
            .btn-removeall {
                float: right;
            }
        }
    }
}

.btn-filter {
    color: $white;
    padding: 8px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.4;
    text-transform: uppercase;
    border: none;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: $red-danger;
    overflow: hidden;
    cursor: pointer;
}

@media only screen and (min-width: $mobile) {
    .todo-app {
        max-width: 50%;
    }
}