@import './assets/common.scss';

body{
    padding: 40px 20px;
    background: #5e62eb;
    background: -webkit-linear-gradient(to bottom, #5e62eb , #5255e3);
    background: -moz-linear-gradient(to bottom, #5e62eb , #5255e3);
    background: -o-linear-gradient(to bottom, #5e62eb , #5255e3);
    background: linear-gradient(to bottom, #5e62eb , #5255e3);
}

.todo-app {
    display: block;
    margin: auto;
    width: 100%;
    min-width: 280px;
    max-width: 480px;
    background-color: #fefeff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0 15px 150px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 15px 150px rgba(0, 0, 0, 0.15);
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.15);
    .todo-content {
        padding:20px;
    }
}
